<div class="main_container">
  <div class="table-header">
    <span class="travel_title">Travel Claim</span>
    <div class="button_container">
      <div class="filter-sorting">
        <div class="dropdown">
          <button mat-stroked-button>
            <mat-icon class="fs-icon">filter_alt</mat-icon>
          </button>
          <button mat-stroked-button>
            <mat-icon class="fs-icon">sort</mat-icon>
          </button>
        </div>
        <button class="cta_btn"><mat-icon>add</mat-icon>ADD NEW CLAIM</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="buttons_contianer">
    <mat-form-field>
      <mat-label>Type of Travel</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TRIF No.</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
