<div class="main-container">
  <div class="upper-container">
    <div class="first-container">
      <div class="first-box">
        <div class="title-contents">
          <span>Travel Claims</span> <span>&#8377; 84,000</span>
        </div>
        <hr />
        <div class="three-circles_container">
          <div class="circle-progress">
            <circle-progress
              [percent]="70"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>26 Drafts</p>
          </div>
          <div class="circle-progress">
            <circle-progress
              [percent]="40"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>19 Submitted</p>
          </div>
          <div class="circle-progress">
            <circle-progress
              [percent]="28"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>12 Approved</p>
          </div>
        </div>
      </div>
    </div>

    <!-- second container -->
    <div class="first-container">
      <div class="first-box">
        <div class="title-contents">
          <span>Other Expense</span> <span>&#8377; 84,000</span>
        </div>
        <hr />
        <div class="three-circles_container">
          <div class="circle-progress">
            <circle-progress
              [percent]="70"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>26 Drafts</p>
          </div>
          <div class="circle-progress">
            <circle-progress
              [percent]="40"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>19 Submitted</p>
          </div>
          <div class="circle-progress">
            <circle-progress
              [percent]="28"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>12 Approved</p>
          </div>
        </div>
      </div>
    </div>

    <!-- third container -->
    <div class="first-container third">
      <div class="first-box">
        <div class="title-contents">
          <span>Local Conveyance</span> <span>&#8377; 84,000</span>
        </div>
        <hr />
        <div class="three-circles_container">
          <div class="circle-progress">
            <circle-progress
              [percent]="70"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>26 Drafts</p>
          </div>
          <div class="circle-progress">
            <circle-progress
              [percent]="40"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>19 Submitted</p>
          </div>
          <div class="circle-progress">
            <circle-progress
              [percent]="28"
              [radius]="30"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#F05A70'"
              [innerStrokeColor]="'#C4C8D066'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <p>12 Approved</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-container">
    <div class="donut-chart_container">
      <div class="title-cont">
        <span>Claims analysis</span>
      </div>
      <div class="pie-chart_and-Lists">
        <!-- <div style="display: block">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
          >
          </canvas>
        </div> -->
      </div>
    </div>
    <div class="date-picker_container">
      <div class="title-cont">
        <span>Calendar</span>
      </div>
      <div class="calendar-cont">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
        </mat-card>
      </div>
    </div>
  </div>
</div>
